In [ ]:
import pandas as pd

lr_df = pd.read_csv("whisper-tiny-lr-only/summary.csv")
hr_df = pd.read_csv("whisper-tiny/summary.csv")
lr_df = lr_df.rename(columns={'wer': 'wer_orig'})
hr_df = hr_df.rename(columns={'wer': 'wer_hr'})

In [ ]:
merged = pd.merge(lr_df, hr_df, on='language', how='inner')

In [ ]:
merged['diff'] = merged.apply(lambda row: row.wer_orig - row.wer_hr, axis=1)
merged = merged.sort_values(by='diff', ascending=False)
merged

   language  wer_orig    wer_hr      diff
3       bas  0.442412  0.429450  0.012962
7       lth  0.442338  0.442338  0.000000
19      led  0.444518  0.444518  0.000000
22      ttj  0.497165  0.471581  0.025584
25      pne  0.506414  0.474234  0.032180
13      ukv  0.570485  0.545388  0.025097
2       meh  0.641875  0.622307  0.019569
11      ush  0.625301  0.623791  0.001510
9       sco  0.635369  0.635369  0.000000
10      cgg  0.723558  0.650350  0.073208
23      kbd  0.674457  0.652188  0.022269
20      bew  0.819944  0.710467  0.109477
15      bxk  0.750912  0.737256  0.013656
4       hch  0.748975  0.739133  0.009842
5       lke  0.766846  0.741654  0.025192
18      aln  0.757041  0.741720  0.015321
17      ruc  0.795498  0.752094  0.043404
21      mmc  0.797748  0.777173  0.020575
14      kcn  0.794309  0.784398  0.009911
12      ady  0.807051  0.800375  0.006676
1     el-CY  0.832554  0.826870  0.005684
24      tob  0.837072  0.837072  0.000000
6       rwm  0.876426  0.847696  0.028730
0       koo  0.958252  0.888183  0.070069
8       top  3.468917  3.468917  0.000000
16      qxp       NaN       NaN       NaN